{% extends 'EkreativeRedmineBundle:Redmine:main.html.twig' %}
{% block title %}{{ issues.0.project.name}}{% endblock %}
{% block content %}
<h1>{{ issues.0.project.name}}</h1>
<a href="{{ path('log_time', {'projectId': projectId}) }}">Log Time</a>
<h2>Issues</h2>
<ul>
    {% for issue in issues %}
        <li>{{ issue.id }}. {{ issue.subject }}</li>
    {% endfor %}
    {% if pages > 1 %}
        <div>
            {% for page in 1..pages %}
                <li style="list-style: none; display: inline-block;">
                    <a href="{{  path('issues_per_project', {'projectId': projectId}) }}?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        </div>
    {% endif %}
</ul>
<a href="{{ path('projects') }}">Back To Projects</a>
{% endblock %}

