{% extends '::base.html.twig' %}
{% block title %}Ekreative Redmine{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ekreativeredmine/css/styles.css', absolute=true) }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="logout">
            <a href="{{ path('logout') }}">Log Out</a>
        </div>
    {% endif %}
    {% block menu %}{% endblock %}
    {% block projectname %}{% endblock %}
    {% block flash_messages %}
        <div class="flash-messages-wrapper">
            <ul class="flash-messages">
                {% for flashType, flashMessages in app.session.flashbag %}
                    <li class="{{ flashType }}">
                        <ul>
                            {% for flashMessage in flashMessages %}
                                <li>{{ flashMessage }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
    {% block content %}
        <h1>Projects</h1>
        <ul class="projects">
            {% for project in projects %}
                <li><a href="{{ path('issues', {'projectId': project.id}) }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}
